.background {
    position: relative;
    background-image: url(/assets/background_image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}

footer {
  text-align: center;
  padding: 5px 0;
  background-color: white;
  color: #f4a460;
  height: 40px;
  width: 100%;
}

.notice {
  background-color: #98ecaa;
  padding: 10px;
  margin-top: 35px;
}

.alert {
  background-color: #ec98ac8f;
  padding: 10px;
  margin-top: 35px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table th {
  background-color: #add8e6;
  padding: 10px 20px;
  border: solid 1px;
}

table td {
  background-color: #f0f8ff;
  padding: 10px 20px;
  border: solid 1px;
}

.title {
  font-size: 30px;
  text-shadow: 1px 1px 2px silver;
  margin: 5% 30%;
}

.sidemenu {
  float: left;
  width: 24%;
  text-align: center;
  margin: 5% 0;
}

.sidemenu-title {
  font-size: 30px;
}

.sidemenu-contents {
  padding: 30px;
  border: 1px #ddd solid;
  border-radius: 10px;
  margin: 2%;
  background-color: white;
}

.box {
  margin: 3% 25%;
}

.home-link {
  margin: 3% 30%;
  padding-bottom: 50px;
}

.btn-custom {
  width: 30%;
  margin: 5%;
  padding: 30px;
}

.main {
  background-color: white;
  width: 50%;
  border-radius: 10px;
  border: 1px #ddd solid;
  margin: 5% 25%;
}

.main-title {
  font-size: 30px;
  text-shadow: 1px 1px 2px silver;
  margin: 5%;
}
.main-box {
  margin: 5%;
  padding: 30px;
}
