.home-title {
  font-size: 50px;
}

.app-title {
  position: relative;
  padding-top: 5%;
  text-align: center;
}

.home-about {
  position: relative;
  padding: 7%;
  text-align: center;
}

.about-sentence {
  padding: 5%;
  border-radius: 10px;
  background-color: white;
  border: 2px #f4a460 solid;
}

.home-how-to-use {
  position: relative;
  text-align: center;
}

.how-to-use-sentence {
  background-color: #f4a460;
  padding: 5%;
}

@media screen and (max-width:767px) {
.app-title {
  padding-top: 30%;
}

.how-to-use-sentence {
  padding-bottom: 10%;
}
}
